# -*- mode: yaml -*-
---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
---
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
AccessModifierOffset: -4
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveAssignments: AcrossComments

---
