# -*- mode: yaml -*-
---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
---
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
SeparateDefinitionBlocks: Always
AccessModifierOffset: -4
---
